In [15]:
from numpy import mean
from numpy import std
from sklearn.datasets import make_regression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.ensemble import AdaBoostRegressor
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
dataset_train=pd.read_csv("C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\train.csv")
dataset_train.head()

,id,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,985
1,2,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,801
2,3,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,1349
3,4,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,1562
4,5,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,1600

In [17]:
X = dataset_train.iloc[:, 1:-1].values
y = dataset_train.iloc[:, -1].values

In [18]:
model = AdaBoostRegressor()

In [19]:
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

In [20]:
n_scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')

In [26]:
print('MAE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

MAE: -467.197 (73.574)

In [22]:
regressor = AdaBoostRegressor(n_estimators = 100, random_state = 0)
regressor.fit(X,y)

AdaBoostRegressor(n_estimators=100, random_state=0)

In [28]:
y_pred = regressor.predict(X)
np.set_printoptions(precision=2)

In [29]:
y_pred

array([1589.46, 1458.75, 1541.83, 1460.69, 1541.83, 1611.62, 1651.15,
       1541.83, 1458.75, 1541.83, 1245.57, 1458.75, 1460.69, 1641.33,
       1655.79, 1460.69, 1460.69, 1140.  , 1317.14, 1568.47, 1622.27,
       1641.33, 1460.69, 1541.83, 1568.47,  762.37, 1169.6 , 1219.83,
       1589.46, 1373.65, 1460.69, 1460.69, 1317.14, 1611.62, 1690.77,
       1317.14, 1655.79, 1690.77, 1568.86, 1641.33, 1641.33, 1684.71,
       1655.79, 1798.06, 1995.04, 1641.33, 1847.46, 2879.64, 3597.  ,
       1959.15, 1655.79, 1611.62, 1611.62, 1684.71, 1373.65, 1663.91,
       1696.85, 1798.  , 1684.71, 1641.33, 1798.06, 1641.33, 1690.77,
       1660.64, 1405.24, 1571.94, 1821.14, 1386.73, 1565.12, 1931.  ,
       1995.04, 1849.76, 1849.76, 1887.95, 1611.62, 2682.11, 4199.76,
       3650.52, 1849.76, 2728.36, 3239.15, 1887.95, 1690.77, 2040.58,
       2050.16, 1958.88, 1987.04, 1995.04, 1995.04, 1411.64, 1847.46,
       2649.25, 2615.12, 3674.16, 2676.53, 2615.12, 3252.12, 2050.16,
       2199.63, 2990.78, 3857.32, 3088.28, 2708.07, 4186.23, 3252.12,
       1140.  , 3285.95, 4264.2 , 3799.47, 4686.16, 3521.76, 2356.79,
       3324.65, 3708.26, 4339.41, 4119.64, 3407.19, 3955.92, 4270.11,
       4513.94, 3252.12, 4270.11, 4108.88, 2708.07, 3650.52, 4270.11,
       4557.45, 4723.01, 4557.45, 4541.58, 4586.14, 4003.27, 3546.76,
       3356.46, 3828.61, 4073.02, 3295.24, 3631.87, 3702.08, 4443.35,
       4894.57, 4658.17, 3869.32, 4339.41, 4743.59, 4728.74, 4641.51,
       4709.81, 4339.41, 4709.81, 4586.14, 4249.92, 4728.74, 4723.01,
       4894.57, 4800.31, 4846.84, 4825.42, 4557.45, 4186.23, 4665.33,
       4704.17, 4641.51, 4709.81, 4511.19, 4808.74, 4704.17, 4665.33,
       4808.74, 4800.31, 4339.41, 4339.41, 4511.19, 4385.49, 4743.59,
       4894.57, 5012.74, 4755.27, 4704.17, 4729.56, 4834.62, 4882.05,
       4825.42, 4704.17, 5080.52, 4715.69, 4270.11, 4511.19, 3869.32,
       4833.7 , 4716.31, 4058.  , 4443.35, 4704.17, 4784.13, 4834.62,
       4968.84, 4800.31, 4385.49, 4443.35, 4385.49, 4058.  , 4385.49,
       4511.19, 4511.19, 4186.23, 4658.17, 4665.33, 4511.19, 4385.49,
       4665.33, 4665.33, 4658.17, 4658.17, 4490.59, 4385.49, 4834.62,
       3738.39, 4119.64, 4665.33, 4586.14, 4665.33, 4834.62, 4882.05,
       4704.17, 4154.12, 4728.74, 4743.59, 4834.62, 4686.16, 4727.31,
       4824.8 , 3692.67, 4743.59, 4861.34, 4743.59, 4044.66, 4704.17,
       1615.  , 4784.13, 4833.7 , 4833.7 , 5040.52, 4861.34, 4727.31,
       4800.31, 4641.51, 4154.12, 2579.27, 2708.07, 2579.27, 4270.11,
       4665.33, 4821.51, 4815.77, 4755.27, 4743.59, 3738.39, 4172.19,
       4186.23, 4438.31, 4385.49, 3708.26, 3785.77, 3869.32, 3295.24,
       4686.16, 4686.16, 4351.75, 4270.11, 4339.41, 4723.01, 4586.14,
       3182.64, 2810.66, 3191.84, 4186.23, 4557.45, 4383.62, 4658.17,
       4716.31, 4728.74, 4704.17, 3799.47, 2849.74, 3708.26, 4196.06,
       4511.19, 4209.76, 4490.59, 4206.39, 2991.43, 3659.37, 3398.39,
       3553.86, 3398.39, 3679.81, 4270.11, 3993.77, 3323.86, 3111.04,
        898.  , 3065.09, 3166.86, 3191.84, 3280.87, 3287.83, 3252.12,
       3156.42, 3182.64, 3285.95, 3366.57, 3324.65, 2839.25, 2797.76,
       3191.84, 3324.65, 4199.76, 4172.19, 2258.08, 2856.86, 2975.2 ,
       3182.64, 4067.27, 2271.07, 2204.29, 3055.51, 2481.95, 3239.15,
       3256.6 , 3686.31, 3659.37, 3205.43, 3055.51, 2962.15, 3239.15,
       3228.27, 3163.81, 3182.64, 2579.27, 1238.64, 2797.77, 3188.78,
       2962.15, 3088.68, 3065.09, 2960.5 , 3156.42, 3191.84, 3111.04,
       2915.51, 2797.77, 2797.77, 3244.  , 2753.51, 3111.04, 1768.11,
       1737.96, 1458.75, 1737.96, 1668.  , 1684.71, 1684.71, 2200.18,
       2879.64])

In [30]:
dataset_test=pd.read_csv("C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\test.csv")
dataset_test.head()

,id,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,366,1,1,0,0,0,1,0.370000,0.375621,0.692500,0.192167
1,367,1,1,1,1,0,1,0.273043,0.252304,0.381304,0.329665
2,368,1,1,0,2,1,1,0.150000,0.126275,0.441250,0.365671
3,369,1,1,0,3,1,2,0.107500,0.119337,0.414583,0.184700
4,370,1,1,0,4,1,1,0.265833,0.278412,0.524167,0.129987

In [31]:
X2 = dataset_test.iloc[:, 1:].values
X2

array([[ 1.  ,  1.  ,  0.  , ...,  0.38,  0.69,  0.19],
       [ 1.  ,  1.  ,  1.  , ...,  0.25,  0.38,  0.33],
       [ 1.  ,  1.  ,  0.  , ...,  0.13,  0.44,  0.37],
       ...,
       [ 1.  , 12.  ,  0.  , ...,  0.24,  0.75,  0.12],
       [ 1.  , 12.  ,  0.  , ...,  0.23,  0.48,  0.35],
       [ 1.  , 12.  ,  0.  , ...,  0.22,  0.58,  0.15]])

In [32]:
len(X2)

366

In [33]:
y2_pred = regressor.predict(X2)
np.set_printoptions(precision=2)

In [36]:
y2_pred

array([1568.47, 1553.25, 1460.69, 1568.47, 1568.47, 1849.76, 1964.69,
       1768.11, 1340.8 , 1821.14, 1245.57, 1460.69, 1655.79, 1641.33,
       1460.69, 1460.69, 1450.57, 1568.86, 1541.83, 1651.15, 1217.37,
       1142.78, 1219.83, 1528.48, 1568.86, 1655.79, 2255.91, 1915.25,
       1571.94, 1611.62, 1758.12, 3993.77, 1987.04, 1933.56, 1373.65,
       1324.23, 1655.79, 1849.76, 1373.65, 1641.33, 1696.85,  908.15,
       1622.27, 1641.33, 1847.46, 1849.76, 1752.42, 1987.04, 1959.15,
       1641.33, 1641.33, 1655.79, 2163.19, 3166.86, 2557.53, 1735.  ,
       1655.79, 1798.06, 1849.76, 1611.62, 3940.08, 1933.56, 2661.14,
       1798.06, 1655.79, 1655.79, 1887.95, 3503.94, 1987.04, 1735.  ,
       1849.76, 3993.77, 4199.76, 4256.55, 4256.55, 2826.46, 3799.47,
       3546.76, 4186.23, 3955.48, 3692.67, 4003.27, 4686.16, 3450.07,
       2842.38, 3209.99, 2356.79, 3659.37, 3659.37, 2643.9 , 2915.51,
       3109.63, 3191.84, 4256.55, 4513.94, 3295.24, 2826.46, 3252.12,
       4511.19, 3857.32, 3268.39, 2356.79, 2648.25, 3324.65, 4513.94,
       4728.74, 4709.81, 4511.19, 3738.39, 4256.55, 4199.76, 3857.32,
       1238.64, 1935.  , 3182.64, 4270.11, 3411.94, 3285.95, 2649.25,
       3882.7 , 4044.66, 4704.17, 4044.66, 3785.77, 4658.17, 4513.94,
       3955.48, 4172.19, 3658.9 , 3568.93, 3770.53, 4513.94, 4704.17,
       4784.13, 3612.19, 4339.41, 4728.74, 4717.43, 4557.45, 5020.32,
       4743.59, 4044.66, 4351.75, 4351.75, 4727.31, 4511.19, 4784.13,
       4715.69, 4704.17, 4066.53, 4723.01, 4824.8 , 4119.64, 4846.84,
       4846.84, 4520.65, 4511.19, 4715.69, 4800.31, 4815.77, 4894.57,
       4894.57, 4824.8 , 3869.32, 4586.14, 4723.01, 4815.77, 4861.34,
       4894.57, 3738.39, 4743.59, 4586.14, 4443.35, 4541.58, 4825.42,
       4723.01, 4728.74, 4443.35, 4743.59, 4704.17, 4385.49, 4715.69,
       4511.19, 4665.33, 4686.16, 4586.14, 4438.31, 4438.31, 4511.19,
       4511.19, 4723.01, 4728.74, 4861.34, 4834.62, 5012.74, 4808.43,
       4520.65, 4586.14, 4385.49, 4443.35, 4586.14, 4270.11, 3366.57,
       4586.14, 4511.19, 4383.62, 4834.62, 3678.53, 4541.58, 4715.69,
       4968.84, 4520.65, 4743.59, 4755.27, 4511.19, 4385.49, 4256.55,
       3678.53, 4388.9 , 4490.59, 4388.9 , 4665.33, 4658.17, 4784.13,
       4976.76, 4834.62, 4665.33, 4834.62, 4834.62, 3283.97, 4968.84,
       4879.1 , 4686.16, 4863.  , 4863.  , 5040.52, 5043.03, 4665.33,
       4154.12, 4784.13, 4834.62, 4861.34, 5043.03, 4665.33, 4709.81,
       4686.16, 4586.14, 3810.24, 4066.53, 4351.75, 4686.16, 3407.19,
       4797.17, 4723.01, 4709.81, 4824.8 , 5015.78, 4743.59, 4784.13,
       4976.76, 4138.75, 2944.7 , 4513.94, 4661.94, 4728.74, 4715.69,
       4686.16, 4513.94, 4513.94, 4727.31, 4728.74, 4715.69, 4665.33,
       4665.33, 4443.35, 3541.98, 4541.58, 4728.74, 4834.62, 4108.88,
       3244.  , 2615.12, 3252.12, 4490.59, 3411.94, 3366.57, 3283.97,
       4119.64, 3631.87, 4264.2 , 3548.52, 4119.64, 3799.47, 4513.94,
       4385.49, 4443.35, 4665.33, 4743.59, 3955.48, 3799.47, 4322.97,
       3285.95, 1958.88, 2797.77, 2960.5 , 2959.31, 3111.04, 3156.42,
       2962.15, 3065.09, 2797.77, 2579.27, 2994.53, 3111.04, 3295.24,
       3295.24, 3653.05, 2849.74, 2797.77, 2962.15, 3111.04, 3131.83,
       2962.15, 2994.53, 3156.42, 3188.78, 2960.5 , 3166.86, 2962.15,
       2810.66, 3144.58, 2643.9 , 2787.62, 2849.74, 3191.84, 3111.04,
       2839.25, 3449.42, 3940.08, 3295.24, 2716.41, 3088.68, 3109.63,
       2753.51, 2849.74, 2856.86, 2676.53, 2797.77, 3055.51, 3244.  ,
       2994.53, 2962.15, 3285.95, 3065.09, 2994.53, 1915.25, 1737.96,
       1690.77, 1568.47, 1405.24,  867.91, 1641.33, 1735.  , 1458.75,
       1641.33, 1655.79])

In [37]:
submission=pd.read_csv("C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\sample_submission.csv")
submission.head()

    id          cnt
0  366  2324.704634
1  367  1825.998871
2  368  1246.661929
3  369  1067.359745
4  370  2349.727614

In [38]:
df=pd.DataFrame(submission)

In [39]:
df['cnt']=y2_pred

In [40]:
df

      id          cnt
0    366  1568.469697
1    367  1553.250000
2    368  1460.694118
3    369  1568.469697
4    370  1568.469697
..   ...          ...
361  727  1641.333333
362  728  1735.000000
363  729  1458.754098
364  730  1641.333333
365  731  1655.790323

[366 rows x 2 columns]

In [41]:
print(df.to_string(index=False))

  id          cnt
 366  1568.469697
 367  1553.250000
 368  1460.694118
 369  1568.469697
 370  1568.469697
 371  1849.756098
 372  1964.687500
 373  1768.108108
 374  1340.800000
 375  1821.142857
 376  1245.568627
 377  1460.694118
 378  1655.790323
 379  1641.333333
 380  1460.694118
 381  1460.694118
 382  1450.571429
 383  1568.857143
 384  1541.833333
 385  1651.152174
 386  1217.372881
 387  1142.777778
 388  1219.826087
 389  1528.476190
 390  1568.857143
 391  1655.790323
 392  2255.911765
 393  1915.250000
 394  1571.937500
 395  1611.617021
 396  1758.125000
 397  3993.770000
 398  1987.042857
 399  1933.562500
 400  1373.650000
 401  1324.227273
 402  1655.790323
 403  1849.756098
 404  1373.650000
 405  1641.333333
 406  1696.848485
 407   908.153846
 408  1622.270833
 409  1641.333333
 410  1847.460317
 411  1849.756098
 412  1752.421053
 413  1987.042857
 414  1959.148148
 415  1641.333333
 416  1641.333333
 417  1655.790323
 418  2163.185185
 419  3166.855346
 420  2557.530864
 421  1735.000000
 422  1655.790323
 423  1798.058824
 424  1849.756098
 425  1611.617021
 426  3940.075472
 427  1933.562500
 428  2661.138462
 429  1798.058824
 430  1655.790323
 431  1655.790323
 432  1887.951220
 433  3503.944444
 434  1987.042857
 435  1735.000000
 436  1849.756098
 437  3993.770000
 438  4199.761905
 439  4256.554974
 440  4256.554974
 441  2826.461538
 442  3799.475000
 443  3546.759690
 444  4186.234043
 445  3955.478261
 446  3692.666667
 447  4003.268293
 448  4686.161290
 449  3450.068966
 450  2842.380952
 451  3209.992647
 452  2356.794872
 453  3659.368421
 454  3659.368421
 455  2643.896000
 456  2915.514286
 457  3109.630769
 458  3191.843750
 459  4256.554974
 460  4513.936842
 461  3295.238095
 462  2826.461538
 463  3252.117073
 464  4511.191860
 465  3857.320000
 466  3268.390805
 467  2356.794872
 468  2648.253333
 469  3324.653595
 470  4513.936842
 471  4728.743590
 472  4709.811189
 473  4511.191860
 474  3738.393617
 475  4256.554974
 476  4199.761905
 477  3857.320000
 478  1238.636364
 479  1935.000000
 480  3182.636364
 481  4270.111111
 482  3411.943925
 483  3285.950249
 484  2649.245283
 485  3882.704348
 486  4044.661972
 487  4704.174194
 488  4044.661972
 489  3785.769231
 490  4658.171642
 491  4513.936842
 492  3955.478261
 493  4172.192308
 494  3658.900000
 495  3568.933333
 496  3770.528302
 497  4513.936842
 498  4704.174194
 499  4784.130435
 500  3612.188406
 501  4339.414634
 502  4728.743590
 503  4717.429530
 504  4557.445946
 505  5020.320000
 506  4743.593496
 507  4044.661972
 508  4351.750000
 509  4351.750000
 510  4727.312102
 511  4511.191860
 512  4784.130435
 513  4715.687898
 514  4704.174194
 515  4066.531250
 516  4723.011834
 517  4824.803922
 518  4119.640351
 519  4846.836066
 520  4846.836066
 521  4520.653061
 522  4511.191860
 523  4715.687898
 524  4800.306748
 525  4815.769231
 526  4894.569231
 527  4894.569231
 528  4824.803922
 529  3869.315789
 530  4586.138686
 531  4723.011834
 532  4815.769231
 533  4861.341463
 534  4894.569231
 535  3738.393617
 536  4743.593496
 537  4586.138686
 538  4443.348101
 539  4541.584906
 540  4825.416667
 541  4723.011834
 542  4728.743590
 543  4443.348101
 544  4743.593496
 545  4704.174194
 546  4385.491892
 547  4715.687898
 548  4511.191860
 549  4665.327381
 550  4686.161290
 551  4586.138686
 552  4438.307692
 553  4438.307692
 554  4511.191860
 555  4511.191860
 556  4723.011834
 557  4728.743590
 558  4861.341463
 559  4834.616541
 560  5012.737864
 561  4808.432692
 562  4520.653061
 563  4586.138686
 564  4385.491892
 565  4443.348101
 566  4586.138686
 567  4270.111111
 568  3366.566667
 569  4586.138686
 570  4511.191860
 571  4383.621849
 572  4834.616541
 573  3678.529412
 574  4541.584906
 575  4715.687898
 576  4968.841667
 577  4520.653061
 578  4743.593496
 579  4755.270492
 580  4511.191860
 581  4385.491892
 582  4256.554974
 583  3678.529412
 584  4388.902439
 585  4490.594828
 586  4388.902439
 587  4665.327381
 588  4658.171642
 589  4784.130435
 590  4976.758333
 591  4834.616541
 592  4665.327381
 593  4834.616541
 594  4834.616541
 595  3283.974359
 596  4968.841667
 597  4879.095238
 598  4686.161290
 599  4863.000000
 600  4863.000000
 601  5040.516949
 602  5043.026549
 603  4665.327381
 604  4154.122172
 605  4784.130435
 606  4834.616541
 607  4861.341463
 608  5043.026549
 609  4665.327381
 610  4709.811189
 611  4686.161290
 612  4586.138686
 613  3810.243243
 614  4066.531250
 615  4351.750000
 616  4686.161290
 617  3407.187500
 618  4797.171717
 619  4723.011834
 620  4709.811189
 621  4824.803922
 622  5015.780702
 623  4743.593496
 624  4784.130435
 625  4976.758333
 626  4138.750000
 627  2944.703297
 628  4513.936842
 629  4661.940120
 630  4728.743590
 631  4715.687898
 632  4686.161290
 633  4513.936842
 634  4513.936842
 635  4727.312102
 636  4728.743590
 637  4715.687898
 638  4665.327381
 639  4665.327381
 640  4443.348101
 641  3541.981132
 642  4541.584906
 643  4728.743590
 644  4834.616541
 645  4108.878788
 646  3244.000000
 647  2615.125000
 648  3252.117073
 649  4490.594828
 650  3411.943925
 651  3366.566667
 652  3283.974359
 653  4119.640351
 654  3631.874214
 655  4264.204918
 656  3548.522388
 657  4119.640351
 658  3799.475000
 659  4513.936842
 660  4385.491892
 661  4443.348101
 662  4665.327381
 663  4743.593496
 664  3955.478261
 665  3799.475000
 666  4322.972222
 667  3285.950249
 668  1958.884298
 669  2797.769231
 670  2960.500000
 671  2959.305882
 672  3111.038095
 673  3156.415730
 674  2962.147541
 675  3065.089552
 676  2797.769231
 677  2579.266667
 678  2994.529412
 679  3111.038095
 680  3295.238095
 681  3295.238095
 682  3653.047619
 683  2849.744828
 684  2797.769231
 685  2962.147541
 686  3111.038095
 687  3131.833333
 688  2962.147541
 689  2994.529412
 690  3156.415730
 691  3188.775000
 692  2960.500000
 693  3166.855346
 694  2962.147541
 695  2810.656250
 696  3144.583333
 697  2643.896000
 698  2787.621212
 699  2849.744828
 700  3191.843750
 701  3111.038095
 702  2839.250000
 703  3449.416667
 704  3940.075472
 705  3295.238095
 706  2716.413793
 707  3088.684211
 708  3109.630769
 709  2753.506579
 710  2849.744828
 711  2856.857143
 712  2676.530303
 713  2797.769231
 714  3055.506329
 715  3244.000000
 716  2994.529412
 717  2962.147541
 718  3285.950249
 719  3065.089552
 720  2994.529412
 721  1915.250000
 722  1737.964286
 723  1690.766667
 724  1568.469697
 725  1405.237288
 726   867.909091
 727  1641.333333
 728  1735.000000
 729  1458.754098
 730  1641.333333
 731  1655.790323

In [43]:
df.to_csv('C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\adaboost_submission1.csv',index=False)