In [126]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\jonathan.sh\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy in c:\users\jonathan.sh\anaconda3\lib\site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in c:\users\jonathan.sh\anaconda3\lib\site-packages (from xgboost) (1.5.2)
Note: you may need to restart the kernel to use updated packages.

In [127]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost
from xgboost.sklearn import XGBRegressor

In [128]:
dataset_train=pd.read_csv("C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\train.csv")
dataset_train.head()

,id,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,985
1,2,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,801
2,3,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,1349
3,4,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,1562
4,5,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,1600

In [129]:
X = dataset_train.iloc[:, 1:-1].values
y = dataset_train.iloc[:, -1].values

In [130]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [131]:
len(X_train)

292

In [132]:
len(y_train)

292

In [133]:
len(X_test)

73

In [134]:
len(y_test)

73

In [135]:
regressor = xgboost.XGBRegressor(objective ='reg:linear',
                  n_estimators = 10, seed = 123)
regressor.fit(X_train, y_train)

[17:01:43] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=10, n_jobs=8, num_parallel_tree=1,
             objective='reg:linear', random_state=123, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, seed=123, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [136]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)

In [137]:
from sklearn.metrics import mean_squared_error as MSE
rmse = np.sqrt(MSE(y_test, y_pred))
print("RMSE : % f" %(rmse))

RMSE :  603.270791

In [138]:
xgboost_regression=XGBRegressor()
model=xgboost_regression.fit(X_train,y_train)
Y_pred=model.predict(X_test)

In [139]:
print("training score : ", xgboost_regression.score(X_train, y_train))

training score :  0.9999978822243998

In [140]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
print("Testing score : ", score)

Testing score :  0.7916970177757681

In [141]:
dataset_test=pd.read_csv("C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\test.csv")
dataset_test.head()

,id,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,366,1,1,0,0,0,1,0.370000,0.375621,0.692500,0.192167
1,367,1,1,1,1,0,1,0.273043,0.252304,0.381304,0.329665
2,368,1,1,0,2,1,1,0.150000,0.126275,0.441250,0.365671
3,369,1,1,0,3,1,2,0.107500,0.119337,0.414583,0.184700
4,370,1,1,0,4,1,1,0.265833,0.278412,0.524167,0.129987

In [142]:
X2 = dataset_test.iloc[:, 1:].values
X2

array([[ 1.  ,  1.  ,  0.  , ...,  0.38,  0.69,  0.19],
       [ 1.  ,  1.  ,  1.  , ...,  0.25,  0.38,  0.33],
       [ 1.  ,  1.  ,  0.  , ...,  0.13,  0.44,  0.37],
       ...,
       [ 1.  , 12.  ,  0.  , ...,  0.24,  0.75,  0.12],
       [ 1.  , 12.  ,  0.  , ...,  0.23,  0.48,  0.35],
       [ 1.  , 12.  ,  0.  , ...,  0.22,  0.58,  0.15]])

In [143]:
len(X2)

366

In [144]:
y2_pred = regressor.predict(X2)
np.set_printoptions(precision=2)

In [145]:
y2_pred

array([ 934.45,  967.6 , 1286.  , 1361.73, 1846.65, 1604.91, 1534.6 ,
       1555.79, 1326.1 , 1586.71, 1167.76, 1331.91, 1489.15, 1194.05,
       1135.1 , 1055.48, 1070.17, 1569.67, 1377.97, 1373.66, 1038.  ,
        987.75,  697.41,  944.96, 1697.15, 1233.6 , 1350.77, 1584.64,
       1418.59, 1781.58, 1641.5 , 3095.36, 2157.67, 1952.01, 1267.67,
       1300.33, 1847.63, 2003.25, 1629.74, 1932.07, 1967.77,  960.48,
        982.61, 1743.36, 2017.53, 2152.54, 1849.73, 2236.98, 2047.84,
       1521.37, 1458.1 , 1932.07, 2211.14, 2204.86, 2142.11, 1385.25,
       1672.1 , 1929.62, 2087.69, 1841.18, 3705.31, 2143.04, 2571.37,
       1503.84, 1904.97, 1972.13, 2105.02, 3082.72, 1996.65, 1797.33,
       2176.31, 3540.16, 3604.67, 3477.76, 3251.6 , 2720.29, 3668.41,
       3434.35, 3590.63, 3332.25, 3533.36, 3500.06, 3371.96, 3730.72,
       2486.08, 2116.17, 2195.36, 4008.03, 4049.21, 1957.77, 2547.91,
       2878.25, 2699.75, 3720.24, 4289.2 , 3004.18, 2456.09, 2860.62,
       4002.54, 3070.84, 3057.25, 2457.44, 2550.34, 3012.87, 4499.73,
       4150.78, 3821.58, 4193.16, 3698.76, 3450.3 , 3783.68, 4126.45,
       1358.6 , 1685.41, 2875.8 , 3869.73, 3912.06, 2491.41, 2594.46,
       3338.48, 3685.7 , 4111.96, 4580.81, 4301.17, 4556.93, 4422.53,
       4259.  , 4136.86, 4013.4 , 4102.46, 4306.06, 4686.46, 4818.74,
       4520.76, 4102.46, 4370.42, 4608.98, 4511.41, 4558.02, 4818.74,
       4520.41, 4102.46, 4370.42, 4525.75, 4581.1 , 4718.91, 4651.08,
       4492.26, 4224.52, 4223.25, 4232.85, 4721.34, 4050.19, 4821.71,
       4962.55, 4815.42, 4413.23, 4606.81, 4742.35, 5031.43, 4942.24,
       4949.4 , 4377.26, 4040.72, 4702.33, 4702.33, 4880.45, 5093.87,
       4994.02, 4317.  , 4621.74, 4229.97, 4229.97, 4212.37, 4991.16,
       4666.26, 4815.42, 4091.45, 4876.03, 4675.77, 3774.19, 4786.88,
       3797.  , 4521.29, 4581.89, 4202.31, 3774.19, 3774.19, 3302.29,
       3797.  , 4383.02, 4410.9 , 4766.98, 4766.98, 4933.07, 4542.27,
       4404.22, 4129.62, 3774.19, 4229.97, 4229.97, 3945.04, 2909.  ,
       4715.54, 4405.13, 4320.32, 4892.38, 4282.06, 4284.07, 4693.01,
       4949.4 , 4473.93, 4500.85, 4638.01, 4237.8 , 4273.13, 4256.34,
       3701.  , 4090.5 , 4342.1 , 4472.36, 4314.23, 3950.87, 4140.18,
       4896.86, 4614.09, 4038.96, 4714.45, 4714.45, 4018.2 , 5010.33,
       4688.13, 4343.01, 4762.2 , 4762.2 , 4714.45, 4840.49, 3856.65,
       3996.07, 4578.03, 4766.54, 4714.45, 4838.64, 4368.34, 4785.31,
       5072.61, 4795.23, 3966.44, 4154.71, 4325.79, 4609.04, 4005.54,
       4873.6 , 4858.93, 4689.82, 4759.08, 4838.64, 4751.48, 4911.92,
       4872.23, 4273.75, 2082.11, 4741.91, 4689.82, 4751.48, 4804.63,
       4833.73, 4742.89, 4741.91, 4811.17, 4386.73, 4323.67, 4870.74,
       4795.95, 4465.15, 3103.4 , 4747.75, 4251.23, 4827.92, 4257.28,
       3641.65, 3131.66, 3293.2 , 4665.62, 3769.91, 3671.09, 3422.16,
       4728.06, 3440.95, 3737.4 , 3685.96, 3777.92, 4379.9 , 4938.63,
       4383.51, 4661.99, 4689.82, 4838.64, 4301.17, 4379.9 , 3856.65,
       2069.8 , 1576.17, 2794.83, 3351.56, 3369.14, 3502.44, 3334.3 ,
       3601.18, 3314.25, 3311.17, 3128.92, 2850.95, 3655.32, 3885.71,
       3819.69, 4568.27, 2593.35, 3435.58, 3348.84, 3655.32, 3717.76,
       3166.27, 2972.6 , 3069.37, 3655.32, 3717.76, 3126.01, 2390.19,
       3136.22, 3438.38, 2794.83, 3435.58, 3150.95, 3496.54, 2893.96,
       2960.4 , 3376.24, 4448.29, 3673.87, 3128.58, 3071.79, 2921.38,
       3023.58, 3082.77, 2960.66, 3116.73, 3435.58, 3177.7 , 3517.03,
       2881.59, 3550.62, 3548.02, 3655.32, 3424.09, 1872.61, 1310.5 ,
       1771.29, 1654.45,  508.38, 1198.06, 1665.45, 1938.99, 1097.97,
       1334.54, 1625.56], dtype=float32)

In [146]:
submission=pd.read_csv("C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\sample_submission.csv")
submission.head()

    id          cnt
0  366  2324.704634
1  367  1825.998871
2  368  1246.661929
3  369  1067.359745
4  370  2349.727614

In [147]:
df=pd.DataFrame(submission)

In [148]:
df['cnt']=y2_pred

In [149]:
df

      id          cnt
0    366   934.450134
1    367   967.595520
2    368  1286.000977
3    369  1361.728394
4    370  1846.653442
..   ...          ...
361  727  1665.451660
362  728  1938.987549
363  729  1097.973022
364  730  1334.538330
365  731  1625.559570

[366 rows x 2 columns]

In [150]:
print(df.to_string(index=False))

  id          cnt
 366   934.450134
 367   967.595520
 368  1286.000977
 369  1361.728394
 370  1846.653442
 371  1604.914185
 372  1534.601074
 373  1555.794189
 374  1326.102661
 375  1586.713257
 376  1167.760742
 377  1331.914185
 378  1489.153809
 379  1194.052490
 380  1135.097534
 381  1055.480713
 382  1070.166260
 383  1569.668579
 384  1377.966919
 385  1373.659424
 386  1038.004395
 387   987.752747
 388   697.408569
 389   944.958679
 390  1697.151123
 391  1233.599609
 392  1350.765137
 393  1584.641602
 394  1418.589355
 395  1781.584717
 396  1641.501831
 397  3095.360840
 398  2157.671387
 399  1952.007935
 400  1267.674194
 401  1300.326050
 402  1847.633667
 403  2003.254272
 404  1629.735352
 405  1932.067261
 406  1967.768188
 407   960.476135
 408   982.611694
 409  1743.361328
 410  2017.526245
 411  2152.542480
 412  1849.725708
 413  2236.976318
 414  2047.836548
 415  1521.365967
 416  1458.104126
 417  1932.067261
 418  2211.140381
 419  2204.864014
 420  2142.108643
 421  1385.248657
 422  1672.099487
 423  1929.618408
 424  2087.687744
 425  1841.175049
 426  3705.310547
 427  2143.040039
 428  2571.373535
 429  1503.844482
 430  1904.973755
 431  1972.128906
 432  2105.018066
 433  3082.721436
 434  1996.646484
 435  1797.327026
 436  2176.308838
 437  3540.155762
 438  3604.673828
 439  3477.757812
 440  3251.601318
 441  2720.292480
 442  3668.412842
 443  3434.351074
 444  3590.634521
 445  3332.251221
 446  3533.359131
 447  3500.057373
 448  3371.955078
 449  3730.723633
 450  2486.082764
 451  2116.174072
 452  2195.363525
 453  4008.028320
 454  4049.206543
 455  1957.771606
 456  2547.913086
 457  2878.253662
 458  2699.752197
 459  3720.237793
 460  4289.199707
 461  3004.180664
 462  2456.093750
 463  2860.622559
 464  4002.541016
 465  3070.837646
 466  3057.250732
 467  2457.441895
 468  2550.342041
 469  3012.872559
 470  4499.729980
 471  4150.776855
 472  3821.578857
 473  4193.162598
 474  3698.758301
 475  3450.302246
 476  3783.675293
 477  4126.453613
 478  1358.601196
 479  1685.409424
 480  2875.803223
 481  3869.727051
 482  3912.064209
 483  2491.405273
 484  2594.463379
 485  3338.477783
 486  3685.704834
 487  4111.963379
 488  4580.810547
 489  4301.166016
 490  4556.933105
 491  4422.528809
 492  4258.996094
 493  4136.856445
 494  4013.398438
 495  4102.458496
 496  4306.060059
 497  4686.459961
 498  4818.744141
 499  4520.758789
 500  4102.458496
 501  4370.421387
 502  4608.979492
 503  4511.411133
 504  4558.021484
 505  4818.744141
 506  4520.408691
 507  4102.458496
 508  4370.421387
 509  4525.752930
 510  4581.095703
 511  4718.907715
 512  4651.082031
 513  4492.263184
 514  4224.516113
 515  4223.247070
 516  4232.851562
 517  4721.341309
 518  4050.194824
 519  4821.706055
 520  4962.550781
 521  4815.424316
 522  4413.234375
 523  4606.809082
 524  4742.353027
 525  5031.431641
 526  4942.236328
 527  4949.395020
 528  4377.259766
 529  4040.719971
 530  4702.325195
 531  4702.325195
 532  4880.450195
 533  5093.867188
 534  4994.021973
 535  4316.998535
 536  4621.742676
 537  4229.971680
 538  4229.971680
 539  4212.367676
 540  4991.158203
 541  4666.255859
 542  4815.424316
 543  4091.450439
 544  4876.027344
 545  4675.769531
 546  3774.191895
 547  4786.883301
 548  3796.996826
 549  4521.290039
 550  4581.893066
 551  4202.307617
 552  3774.191895
 553  3774.191895
 554  3302.289062
 555  3796.996826
 556  4383.017090
 557  4410.900879
 558  4766.981445
 559  4766.981445
 560  4933.069824
 561  4542.270508
 562  4404.219238
 563  4129.616211
 564  3774.191895
 565  4229.971680
 566  4229.971680
 567  3945.041748
 568  2909.001709
 569  4715.540039
 570  4405.129395
 571  4320.317383
 572  4892.382812
 573  4282.062012
 574  4284.073242
 575  4693.006836
 576  4949.395020
 577  4473.932129
 578  4500.854492
 579  4638.013184
 580  4237.798340
 581  4273.132812
 582  4256.341309
 583  3701.000732
 584  4090.504639
 585  4342.098633
 586  4472.355957
 587  4314.233887
 588  3950.872559
 589  4140.177246
 590  4896.862793
 591  4614.093750
 592  4038.960938
 593  4714.449219
 594  4714.449219
 595  4018.195801
 596  5010.331543
 597  4688.127441
 598  4343.009277
 599  4762.200684
 600  4762.200684
 601  4714.449219
 602  4840.492676
 603  3856.649658
 604  3996.069824
 605  4578.026367
 606  4766.540039
 607  4714.449219
 608  4838.636719
 609  4368.335449
 610  4785.307129
 611  5072.608887
 612  4795.226074
 613  3966.439209
 614  4154.710938
 615  4325.794434
 616  4609.038086
 617  4005.544678
 618  4873.602539
 619  4858.929199
 620  4689.820801
 621  4759.076172
 622  4838.636719
 623  4751.481934
 624  4911.917969
 625  4872.234375
 626  4273.753906
 627  2082.111572
 628  4741.911621
 629  4689.820801
 630  4751.481934
 631  4804.625977
 632  4833.731934
 633  4742.890137
 634  4741.911621
 635  4811.166992
 636  4386.725586
 637  4323.666504
 638  4870.738770
 639  4795.947754
 640  4465.152344
 641  3103.401367
 642  4747.752930
 643  4251.230957
 644  4827.917969
 645  4257.281250
 646  3641.652344
 647  3131.663574
 648  3293.197998
 649  4665.625000
 650  3769.905518
 651  3671.087158
 652  3422.162354
 653  4728.060547
 654  3440.946045
 655  3737.397217
 656  3685.956055
 657  3777.919434
 658  4379.895996
 659  4938.625977
 660  4383.513672
 661  4661.994629
 662  4689.820801
 663  4838.636719
 664  4301.166016
 665  4379.895996
 666  3856.649658
 667  2069.802734
 668  1576.169312
 669  2794.834473
 670  3351.559326
 671  3369.137939
 672  3502.438477
 673  3334.295898
 674  3601.175537
 675  3314.253174
 676  3311.173340
 677  3128.924072
 678  2850.951904
 679  3655.322754
 680  3885.708008
 681  3819.691162
 682  4568.271973
 683  2593.351074
 684  3435.582764
 685  3348.844482
 686  3655.322754
 687  3717.757812
 688  3166.267334
 689  2972.601807
 690  3069.368164
 691  3655.322754
 692  3717.757812
 693  3126.007080
 694  2390.189453
 695  3136.224854
 696  3438.384521
 697  2794.834473
 698  3435.582764
 699  3150.952881
 700  3496.544678
 701  2893.964844
 702  2960.397217
 703  3376.242676
 704  4448.293945
 705  3673.868164
 706  3128.580322
 707  3071.793213
 708  2921.379395
 709  3023.583984
 710  3082.770996
 711  2960.662842
 712  3116.733643
 713  3435.582764
 714  3177.697998
 715  3517.027344
 716  2881.585938
 717  3550.624756
 718  3548.022949
 719  3655.322754
 720  3424.093018
 721  1872.613037
 722  1310.499756
 723  1771.286987
 724  1654.449219
 725   508.376312
 726  1198.064575
 727  1665.451660
 728  1938.987549
 729  1097.973022
 730  1334.538330
 731  1625.559570

In [151]:
df.to_csv('C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\xgboost_submission1.csv',index=False)